{% extends 'base.html.twig' %}

{% block title %}BlogController!{% endblock %}

{% block body %}
<div class="container">

{#{dump(articles)}#}
{% for articles in articles %}
    
<div class="container">
    <div class="row">
        <div class="col-10">
        
        <article>
        <div class="row">
        <h3>{{articles.title}}</h3>
        </div>
    <div class="row">
    <div class="metadata">ecrit le 10/05/2002 à 19h00</div>
    <div class="content">
    <p class="text-center ">{{articles.content}}</p>
    
    {% if articles.imagename != 0 %}
      
        <img src="{{ vich_uploader_asset( articles,'imageFile') }}" alt="{{  articles.imagename }}" class="{{articles.imageplace}}" style="max-width:230px;max-height:150px;">
        {% else %}s
            {% endif %}
        
       
    </div>
    </div>
    
</article>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>

</div>
{% endfor %}
{% endblock %}
