<!DOCTYPE html>
<html>
  <html lang="{{ app.request.locale }}">

    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <title>{% block title %}Bienvenue !{% endblock %}</title>
      {% block stylesheets %}
      {{ encore_entry_link_tags('app') }}
      <link rel="stylesheet" href="https://bootswatch.com/4/cerulean/bootstrap.min.css">
      {% endblock %}
      <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>

    <body>
      {# start nav bar#}
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" style="font-size:1.8em;" href="{{ path('home') }}">Site Name</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
          aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor02">
          <ul class="navbar-nav mr-auto" style="margin-left:33%;">
            <li class="nav-item active">
              <a class="nav-link" href="{{ path('home') }}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ path('blog') }}">Blog</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle " role="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                contacter_moi
              </a>
              <div class="dropdown-menu bg-dark text-white" aria-labelledby="navbarDropdown ">
                <a class="dropdown-item bg-dark text-white" href="#contact">Contact</a>

                <div class="dropdown-divider"></div>
                <a class="dropdown-item bg-dark text-white" href="#about">about us</a>
              </div>
            </li>
            {% if not app.user %}
            <li class="nav-item ">
              <a class="nav-link" href="{{path('registration')}}">Inscription </a>
            </li>

            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{{ path('user_show', {'id': app.user.id}) }}">Mon compte</a>
            </li>

            {% endif %}

          </ul>



          {% if app.user.roles is defined %}

          {% if is_granted ('ROLE_ADMIN') == false %}

         
          <li class=" navbar-nav nav-item">
            <span style="color:orange;font-size:1.6em;float:left">{{ app.user.name }}</span>
            <img src="{{ asset('avatar.png') }}" style="color:orange;heigth:2em;width:3em;margin-left:6%">
          </li>

          {% else %}
          <li class=" navbar-nav nav-item">
            <a  class="nav-link bg-dark" style="color:lightgreen;text-align:center;width:8em;" href="{{path('admin')}}">Back office</a>
          </li>
          <li class=" navbar-nav nav-item ">

            <span style="color:lightgreen;font-size:1.6em;float:left">{{ app.user.name }}</span>
            <img src="{{ asset('avatar.png') }}" style="color:lightgreen;heigth:2em;width:3em;margin-left:6%">
          </li>
          {% endif %}


          {% endif %}

          {% if not app.user %}
          <li class=" navbar-nav nav-item ">
            <a class=" nav-link " href="{{ path('app_login') }}">Connexion</a>
          </li>
          {% else %}
          <li class=" navbar-nav nav-item">
            <a href="{{ path ("app_logout") }}">
              <button class="btn btn-perso btn-outline-success ml-3 my-sm-0" type="button"
                placeholder="deconnexion">déconnexion
              </button>
            </a>
          </li>
          {% endif %}

        </div>

      </nav>
      {# end nav bar#}


      {% block body %}{% endblock %}

      {% block footer %}
      <footer>
        <nav class=" fixed-bottom navbar navbar-expand-lg navbar-dark bg-dark">

          <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav mr-auto" style="margin-left:33%">

              <li class="nav-item">
                <a class="nav-link" href="https://twitter.com/symfony" title="Symfony Twitter">
                  <i class="fab fa-twitter" style="color:lightgreen;font-size:2rem;" aria-hidden="true"></i>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://www.facebook.com/SensioLabs">

                  <i class="fab fa-facebook-f" style="color:lightblue;font-size:2rem;" aria-hidden="true"></i>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://symfony.com/blog/" title="Symfony Blog">
                  <i class="fas fa-camera" style="color:lightgrey;font-size:2rem;" aria-hidden="true"></i>
                </a>
              </li>
              <li class="nav-item ">
                <p class="nav-link">&copy; {{ 'now'|date('d-m-Y') }} - The Symfony Project</p>
                <p class="nav-link">{{ 'mit_license'|trans }}</p>
              </li>
            </ul>
            <p style="color:white;">rgpd link</p>
          </div>
        </nav>
      </footer>

      {% endblock %}
      {% block javascripts %}
      {{ encore_entry_script_tags('app') }}



      {% endblock %}
    </body>

  </html>