{# {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }} #}
{{form_start(form)}}
{% if article.imagesize == null %}


{% else %}
image actuelle
    <img class="" id="setval" src="{{ vich_uploader_asset( article,'imageFile') }}" alt="{{ vich_uploader_asset( article,'imageFile') }}" style="max-width:230px;max-height:150px;"> 
{% endif %}
{{form_row(form.title)}}
{{form_row(form.content)}}
 <div class="col-12 ">
                            <div class="form-group  field-vich_image"><legend class="col-form-label">Image file</legend><div class="form-widget">
                                    
                                <div class="easyadmin-vich-image">
                                    
                <a href="#" class="easyadmin-thumbnail" data-featherlight="#easyadmin-lightbox-article_imageFile" data-featherlight-close-on-click="anywhere">
                    <img src="/images/article/CI stephane.png">
                </a>

                <div id="easyadmin-lightbox-article_imageFile" class="easyadmin-lightbox">
                    <img src="/images/article/CI stephane.png">
                </div>
                    
        
        <div class="easyadmin-vich-image-actions">
                        <div class="btn btn-secondary input-file-container">
                <i class="fa fa-fw fa-upload"></i> Choose file
                <input type="file" id="article_imageFile_file" name="article[imageFile][file]" onchange="            var newFile = document.getElementById('article_imageFile_file').files[0];
            var fileSizeInMegabytes = newFile.size > 1024 * 1024;
            var fileSize = fileSizeInMegabytes ? newFile.size / (1024 * 1024) : newFile.size / 1024;
            document.getElementById('article_imageFile_file_new_file_name').innerText = newFile.name + ' (' + fileSize.toFixed(2) + ' ' + (fileSizeInMegabytes ? 'MB' : 'KB') + ')';
        " class="custom-file-input" />
            </div>

                                <div class="form-group  field-checkbox"><div class="form-widget">
                                    
                            <div class="form-check">        <input type="checkbox" id="article_imageFile_delete" name="article[imageFile][delete]" class="form-check-input" value="1" />
        <label class="form-check-label" for="article_imageFile_delete">form.label.delete</label></div>            
            
            </div>
    </div>
                    </div>
        <div class="small" id="article_imageFile_file_new_file_name"></div>
    </div>
            
            
            </div>
    </div>

{{form_row(form.updatedat)}}
{{form_row(form.imagename)}}

{{form_row(form.imageplace)}}	


{{form_row(form.submit)}}
{{form_end(form)}}

