
   

{{ form_start(form) }}
{{ form_row(form.name,{'attr':{'placeholder':' votre nom'}}) }}

{{ form_row(form.email,{'attr':{'placeholder':' votre email'}}) }}
{{ form_row(form.password,{'attr':{'placeholder':'votre mot de passe'}}) }}
{{ form_row(form.confirm_password,{'attr':{'placeholder':' Répétez votre mot de passe'}})}} 
{{ form_row(form.adresse,{'attr':{'placeholder':' votre adresse'}}) }}

   
    <button class="ml-6 btn btn-info text-right">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}



    

