{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
<div class="container">
    <h1>User index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Adresse</th>
                <th>Roles</th>
                <th>Password</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.adresse }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td class="text-truncate " style="word-wrap: break-word;min-width: 100px;max-width: 110px;">{{ user.password }}</td>
                <td>
                    <a class="btn btn-sm btn-primary" href="{{ path('user_show', {'id': user.id}) }}">show</a>
                    <a class="pl-2 btn btn-sm btn-primary" href="{{ path('user_edit', {'id': user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="pb-2 mb-2 btn btn-sm btn-primary" href="{{ path('user_new') }}">Create new</a>
    </div>
{% endblock %}
