{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    
<div class="container">
<h1>User</h1>
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{#{ user.id }#}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ user.name }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ user.adresse }}</td>
            </tr>
            {#<tr>
                <th>Roles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>#}
            <tr>
                <th>Password</th>
                <td class="text-truncate ">{{ user.password }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-info" href="{{ path('home') }}">back to home</a>

    <a class="btn btn-info" href="{{ path('user_edit', {'id': user.id}) }}">edit</a>
<a  class="btn btn-info" href="{{ path('reloadpassword', {'id': user.id}) }}">Changer de password</a>
    {{ include('user/_delete_form.html.twig') }}
    </div>
{% endblock %}
